.piece {
    height: 28.75px;
}
.piece1 {
    margin-top: 150px;
}
.piece10 {
    margin-top: 47px;
}
.piece19 {
    margin-top: 47px;
}
.piece4, .piece7, .piece13, .piece16, .piece22, .piece25 {
    margin-top: -138px;
}
.piece1, .piece4, .piece7 {
    margin-left: 180px;
}
.piece10, .piece13, .piece16 {
    margin-left: 128.5px;
}
.piece19, .piece22, .piece25 {
    margin-left: 76.5px;
}
.piece2, .piece5, .piece8 {    
    margin-left: 230px;
}
.piece11, .piece14, .piece17 {
    margin-left: 178.5px;
}
.piece20, .piece23, .piece26 {
    margin-left: 127px;
}
.piece3, .piece6, .piece9 {
    margin-left: 280px;
}
.piece12, .piece15, .piece18 {
    margin-left: 228.5px;
}
.piece21, .piece24, .piece27 {
    margin-left: 177px;
}
.top-side {
    position: relative;
    left: 22px;
    height: 50px;
    width: 58px;
    background-color: #f00;
    transform: rotate(150deg) skew(30deg,0deg);
    border: 1px solid #000;
}
.left-side {
    position: relative;
    top: -11px;
    height: 50px;
    width: 50px;
    background-color: #0f0;
    transform: skew(180deg,210deg);
    border: 1px solid #000;
}
.right-side {
    position: relative;
    top: -63px;
    left: 52px;
    height: 50px;
    width: 50px;
    background-color: #00f;
    transform: skew(180deg,150deg);
    border: 1px solid #000;
}