* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Georgia, serif;
}

div .canvas-container {
    width: 99.8vw;
    height: calc(99.8vh - 101px);
    margin: 0.1vh 0.1vw;
}

.canvas {
    background-color: #333333;
}

.logout-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

.info-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    min-width: 50px;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

.page-container {
    min-height: 100vh;
    overflow: auto;
}

.toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 101px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 50px);
    gap: 1px;
    background-color: #333333;
}

.toolbar-btn {
    background-color: #2196f3;
    color: white;
    text-shadow: black 1px 1px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

.reset-btn {
    position: absolute;
    bottom: 101px;
    right: 0;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

.shuffle-btn {
    position: absolute;
    bottom: 101px;
    left: 0;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

.settings-btn {
    position: absolute;
    top: 100px;
    right: 0;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}
.hint-box {
    position: absolute;
    top: 0;
    left: 25vw;
    width: 50vw;
    height: 50px;
    background-color: #2196f3;
    color: white;
    cursor: pointer;
}

.hint-text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}

.toggle-hint-btn {
    position: absolute;
    top: 200px;
    right: 0;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .hint-text {
        font-size: 3vw;
    }
}
